# ======================================
# Appium Server
# ======================================

APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APPIUM_PATH=/

# ======================================
# Platform
# ======================================

APPIUM_PLATFORM=iOS
APPIUM_AUTOMATION_NAME=XCUITest

# ======================================
# Device
# ======================================

APPIUM_DEVICE_NAME=iPhone Simulator
APPIUM_PLATFORM_VERSION=26.5
APPIUM_UDID=E60B3481-81CA-465F-8D62-AA87C48FAF3B

# ======================================
# Application
# These values are normally supplied by
# the AI agent based on the prompt.
# ======================================

APPIUM_BUNDLE_ID=com.apple.reminders

# Android only
APPIUM_APP_PACKAGE=
APPIUM_APP_ACTIVITY=

# ======================================
# Appium Options
# ======================================

APPIUM_NO_RESET=true

# ======================================
# WebdriverIO
# ======================================

WDIO_LOG_LEVEL=warn